[View in Colaboratory](https://colab.research.google.com/github/x110/Souq/blob/master/SouqFeesCalculator.ipynb)

## Get Data

In [12]:
!git clone https://github.com/x110/Souq.git

Cloning into 'Souq'...
remote: Counting objects: 6, done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 6 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (6/6), done.

## Imports

In [0]:
import pandas as pd

In [0]:
PATH = "Souq/"
RF = f"{PATH}Referral_Fee_UAE.csv"

## Calculate Souq Fees

In [0]:
df_RF = pd.read_csv(RF,index_col=0)#Referral Fee Table

In [16]:
df_RF.head()

,Item Type,UAE & KSA Referral Rate (eff. From 15th May to 15th October 2018)
Category,,
Appliances,"Sewing and Accessories, Coolers, Heaters, Fans...",1%
Appliances,"Air Conditioners, Washers Dryers 2 in 1, Washi...",5%
Appliances,"Specialty Kitchen Appliances, Vacuums and Floo...",3%
"Art, Crafts\n& Collectibles","Drawings & Paintings, Handcrafts, Sculpture & ...",3%
"Art, Crafts\n& Collectibles","Islamic, Ethnic and Digital Art",3%

In [0]:
def SouqFeesCalculator(SP,rf,PROMO,Channel):
  d = {
       'Channel': ['FBS','MFN','FBS','MFN'],
       'SP': [min(SP,50.0),min(SP,50.0),max(SP,51.0),max(SP,51.0)],
       'FFFF': [4 if PROMO else 7.5, 0, 4, 4]
      }
  df = pd.DataFrame(data=d)
  df['RF'] = df.apply(lambda row: rf if not (row['Channel']=='MFN' and row['SP']<=50) else 0.2,axis=1)
  df['CF'] = df.apply(lambda row: 5.0 if(row['Channel']=='FBS' and row['SP']<=50) else 0.0,axis=1)
  df['TF_withoutVAT'] = df.apply(lambda row: row.SP*row.RF+row.FFFF+row.CF,axis=1)
  df['TF_withVAT'] = df.apply(lambda row: row.TF_withoutVAT*1.05,axis=1)
  #ind = df.apply(lambda x: x.Channel==Channel and x.SP==SP,axis=1)
  #df[ind]
  ind = df.apply(lambda x: x.SP==SP,axis=1)
  return df[ind]

###  Product 1

In [20]:
SP = 1000.0
rf = .01 #from table
PROMO = 1
Channel = 'FBS'
SouqFeesCalculator(SP,rf,PROMO,Channel)

  Channel  FFFF      SP    RF   CF  TF_withoutVAT  TF_withVAT
2     FBS     4  1000.0  0.01  0.0           14.0        14.7
3     MFN     4  1000.0  0.01  0.0           14.0        14.7

### Product 2

In [21]:
SP = 100.0
rf = .04 #from table
PROMO = 1
Channel = 'MFN'
SouqFeesCalculator(SP,rf,PROMO,Channel)

  Channel  FFFF     SP    RF   CF  TF_withoutVAT  TF_withVAT
2     FBS     4  100.0  0.04  0.0            8.0         8.4
3     MFN     4  100.0  0.04  0.0            8.0         8.4